@page
@model RZ_nepremicnine.Pages.Admin.ManageModel
@{
    ViewData["Title"] = "Upravljaj";
}
<div class="text-center mb-5">
    <h1><span class="gradient-text">Upravljaj</span></h1>
    <p class="text-secondary">Administratorska nadzorna plošča</p>
</div>

<div class="hero text-center">
    <button></button>
</div>

