@page
@{
    ViewData["Title"] = "Add Property Test";
}

<h1>Hello, this is my property page!</h1>

<form method="post">
    <label>Naziv nepremicne:</label>
    <input type="text" name="NepremicninaNaziv" />
    <button type="submit">Submit</button>
</form>