@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero text-center">
    <h1>Dobrodošli na <span class="gradient-text">Nepremičnine</span></h1>
    <p>Odkrijte popolno nepremičnino z naprednimi funkcijami in brezhibno digitalno izkušnjo.</p>
    <a href="/Properties/Browse" class="btn btn-primary btn-lg cta-button">Razišči nepremičnine</a>
</div>
