@page
@model RZ_nepremicnine.Pages.Properties.BrowseModel
@{
    ViewData["Title"] = "Kupi Nepremičnino";
}
<h1>@ViewData["Title"]</h1>

<p>TODO: Tuki sm js najaci zanel naredu moznost da gledas mojo sexy hisko.</p>
