name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
      - test

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: borci1417/nepremicnine:latest

      - name: Run unit tests
        run: dotnet test RZ_Nepremicnine.test/RZ_Nepremicnine.test.csproj --logger "trx;LogFileName=test_results.trx" --results-directory "RZ_Nepremicnine.test/TestResults"

      - name: List TestResults
        run: ls -R RZ_Nepremicine.test/TestResults || true

      - name: Upload test results
        uses: dorny/test-reporter@v1
        with:
          name: 'Test results'
          path: RZ_Nepremicnine.test/TestResults/*.trx
          reporter: 'dotnet-trx'
          fail-on-error: false

      - name: Publish
        run: dotnet publish RZ_nepremicnine.csproj --configuration Release --output "${{ github.workspace }}/publish"

      - name: Deploy to Azure Web app
        uses: azure/webapps-deploy@v2
        with:
          app-name: "rgis-nepremicnine-test"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_TEST }}
          package: "${{ github.workspace}}/publish"
          
